<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">#}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">

{#    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>#}

{#    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>#}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSSPage/StyleSheet.css') }}">
    <script type="application/javascript" src="{{ url_for('static', filename='JSPage/JavaScript.js') }}"></script>

    <title>Home Page</title>
</head>
<body class="d-flex h-100 text-center text-white user-select-none">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="px-5 pt-3 pb-3 fixed-top navbar-light shadow rounded">
            <h3 class="float-left mb-0 p-1 btn-dark rounded">PRICCO</h3>
            <nav class="nav nav-masthead justify-content-center btn-group btn-group-toggle float-right ">

                {% if session.LoggedIn %}
                    <div class="btn-group" role="group">
                        <button class="nav-link btn btn-dark dropdown-toggle home_lnkhov" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</button>
                        <div class="dropdown-menu bg-dark">
                            <button class="dropdown-item bg-dark disabled" style="color: #e7d84b">Welcome {{ session.Fname }}</button>
                            <a class="dropdown-item bg-dark home_lnkhov" href="Favourite">Favourites</a>
                            <a class="dropdown-item bg-dark home_lnkhov" href="Profile">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item bg-dark home_lnkhov" href="{{ url_for('Logout') }}">Logout</a>
                        </div>
                    </div>
                {% else %}
                    <a class="nav-link btn btn-dark home_lnkhov" href="Login">Sign In</a>
                    <a class="nav-link btn btn-dark home_lnkhov" href="Register">Sign Up</a>
                {% endif %}

                <a class="nav-link btn btn-dark home_lnkhov" href="About">About</a>
            </nav>
        </div>

        <header class="svg_height">
            <svg viewBox="600 -125 2000 400" class="pd">
                <symbol id="s-text">
                    <text x="67%" y="50%" class="text--line">
                        PRICCO
                    </text>
                </symbol>
                <g class="g-ants">
                    <use href="#s-text" class="webcoderskull-1"></use>
                    <use href="#s-text" class="webcoderskull-1"></use>
                    <use href="#s-text" class="webcoderskull-1"></use>
                    <use href="#s-text" class="webcoderskull-1"></use>
                    <use href="#s-text" class="webcoderskull-1"></use>
                </g>
            </svg>
        </header>

        <main>
            <p class="lead">Welcome to PRICCO here you can search different products and compare.</p>
            <p class="lead">
                <a class="btn btn-lg btn-secondary font-weight-bold border-white bg-white text-dark" href="ProductPrice">Product Price</a>&ensp;
                <a class="btn btn-lg btn-secondary font-weight-bold border-white bg-white text-dark" href="ProductSpecification">Product Specification</a>
            </p>
        </main>
    </div>
</body>
</html>
