<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSSPage/StyleSheet.css') }}">
    <script type="application/javascript" src="{{ url_for('static', filename='JSPage/JavaScript.js') }}"></script>

    <title>Forget Password Page</title>
</head>
<body class="d-flex h-100 text-center text-white user-select-none Reg_BgImg">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="modal fade" id="NewPasswordStaticModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bold" id="NewPasswordStaticModalLabel">New Password</h5>
                        <a href="/">
                            <button class="close text-white">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </a>
                    </div>
                    <div class="modal-body text-left">

                        {% if ErMessage %}
                            <div class="alert alert-success" role="alert">
                                <b>{{ ErMessage }}</b>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}

                        <form action="/UpdatePassword" method="post" oninput='NewPasswordInputConPassword.setCustomValidity(NewPasswordInputConPassword.value != NewPasswordInputPassword.value ? "Password does not match." : "")'>
                            <div class="form-group">
                                <label>Select Method to Verify your Account</label><br>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline1" name="customRadioInline" value="Email" class="custom-control-input" checked>
                                    <label class="custom-control-label" for="customRadioInline1">Email Id</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline2" name="customRadioInline" value="Phone" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline2">Phone No.</label>
                                </div>
                            </div>

                            <div class="form-group" id="NewPasswordEmailShowHide">
                                <label for="NewPasswordInputEmail">Email Address</label>
                                <input type="email" class="form-control" name="NewPasswordInputEmail" id="NewPasswordInputEmail" placeholder="Email address">
                                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group" id="NewPasswordPhoneShowHide">
                                <div class="form-group">
                                    <label for="NewPasswordInputPhoneNo">Phone Number</label>
                                    <input type="tel" class="form-control" name="NewPasswordInputPhoneNo" id="NewPasswordInputPhoneNo" pattern="[0-9]{4}[0-9]{2}[0-9]{4}" placeholder="Phone number">
                                    <small class="text-muted">Enter Valid Number</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="NewPasswordInputPassword">New Password</label>
                                <div class="input-group" id="NewPasswordShowHide">
                                    <input type="password" class="form-control" name="NewPasswordInputPassword" id="NewPasswordInputPassword" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,20}$" placeholder="New password" required>
                                    <div class="input-group-append">
                                        <a class="btn btn-primary">
                                            <i class="bi bi-eye-slash"></i>
                                        </a>
                                    </div>
                                </div>
                                <small class="text-muted">Must be 8-20 characters long.</small>
                            </div>
                            <div class="form-group">
                                <label for="NewPasswordInputConPassword">Confirm New Password</label>
                                <input type="password" class="form-control" name="NewPasswordInputConPassword" id="NewPasswordInputConPassword" placeholder="Confirm new password" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <small class="text-muted">Back to Login!!</small>
                        <a class="btn btn-danger" href="Login">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
