<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSSPage/StyleSheet.css') }}">
    <script type="application/javascript" src="{{ url_for('static', filename='JSPage/JavaScript.js') }}"></script>

    <title>Product Specification Page</title>
</head>
<body class="d-flex h-100 text-center text-white user-select-none">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="px-5 pt-3 pb-3 fixed-top navbar-light shadow rounded">
            <h3 class="float-left mb-0 p-1 btn-dark rounded rainbow">PRICCO</h3>
            <nav class="nav nav-masthead justify-content-center btn-group btn-group-toggle float-right ">
                <a class="nav-link btn btn-dark ProSpecOutput_lnkhov" href="ProductSpecification">Back</a>

                {% if session.LoggedIn %}
                    <div class="btn-group" role="group">
                        <button class="nav-link btn btn-dark dropdown-toggle ProSpecOutput_lnkhov" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</button>
                        <div class="dropdown-menu bg-dark">
                            <button class="dropdown-item bg-dark disabled" style="color: #EC7063">Welcome {{ session.Fname }}</button>
                            <a class="dropdown-item bg-dark ProSpecOutput_lnkhov" href="">Favourites</a>
                            <a class="dropdown-item bg-dark ProSpecOutput_lnkhov" href="Profile">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item bg-dark ProSpecOutput_lnkhov" href="{{ url_for('Logout') }}">Logout</a>
                        </div>
                    </div>
                    <a class="nav-link btn btn-dark ProSpecOutput_lnkhov" href="About">About</a>
                {% else %}
                    <a class="nav-link btn btn-dark ProSpecOutput_lnkhov" href="Login">Sign In</a>
                    <a class="nav-link btn btn-dark ProSpecOutput_lnkhov" href="Register">Sign Up</a>
                {% endif %}

            </nav>
        </div>

        <main class="ProSpecContentCenter">

{#            <div class="row">#}
{#                <div class="col">#}
{#                    <div class="card text-white bg-info">#}
{#                        <div class="card-header">{{ infobox1['name'] }}</div>#}
{#                        <div class="card-body">#}
{#                            <table class="table-bordered spectable">#}
{#                        <tr class="spectr">#}
{#                            <td class="spectd">Front Camera</td>#}
{#                            <td class="spectd">{{ infobox1['front_camera'] }}</td>#}
{#                        </tr>#}
{#                        <tr class="spectr">#}
{#                            <td class="spectd">Rear Camera</td>#}
{#                            <td class="spectd">{{ infobox1['rear_camera'] }}</td>#}
{#                        </tr>#}
{#                        <tr class="spectr">#}
{#                            <td class="spectd">Storage</td>#}
{#                            <td class="spectd">{{ infobox1['storage'] }}</td>#}
{#                        </tr>#}
{#                        <tr class="spectr">#}
{#                            <td class="spectd">Memory</td>#}
{#                            <td class="spectd">{{ infobox1['memory'] }}</td>#}
{#                        </tr>#}
{#                        <tr class="spectr">#}
{#                            <td class="spectd">Battery</td>#}
{#                            <td class="spectd">{{ infobox1['battery'] }}</td>#}
{#                        </tr>#}
{#                    </table>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col">#}
{#                    <div class="card text-white bg-info">#}
{#                        <div class="card-header">{{ infobox2['name'] }}</div>#}
{#                        <div class="card-body">#}
{#                            <table class="table-bordered spectable">#}
{#                         <tr class="spectr">#}
{#                            <td class="spectd">Front Camera</td>#}
{#                            <td class="spectd">{{ infobox2['front_camera'] }}</td>#}
{#                        </tr>#}
{#                        <tr class="spectr">#}
{#                            <td class="spectd">Rear Camera</td>#}
{#                            <td class="spectd">{{ infobox2['rear_camera'] }}</td>#}
{#                        </tr>#}
{#                        <tr class="spectr">#}
{#                            <td class="spectd">Storage</td>#}
{#                            <td class="spectd">{{ infobox2['storage'] }}</td>#}
{#                        </tr>#}
{#                        <tr class="spectr">#}
{#                            <td class="spectd">Memory</td>#}
{#                            <td class="spectd">{{ infobox2['memory'] }}</td>#}
{#                        </tr>#}
{#                        <tr class="spectr">#}
{#                            <td class="spectd">Battery</td>#}
{#                            <td class="spectd">{{ infobox2['battery'] }}</td>#}
{#                        </tr>#}
{#                    </table>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

{#            <div class="row">#}
{#                <div class="column">#}
{#                    #}
{#                </div>#}
{##}
{#                <div class="column">#}
{#                    #}
{#                </div>#}
{#            </div>#}

        </main>
    </div>
</body>
</html>
